@page "/About"

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="container">
    <h1 class="TTL" style="font-style: oblique;">Programing RD</h1>
    <br />
    <br />
    <h1 class="TTL3" style="font-family: 'Times New Roman', Times, serif;">Integrantes:</h1>
    <br />
    <h2 class="TTL2">Daniel José Tavárez Álvarez, 2019-8382</h2>
    <h4></h4>
    <h2 class="TTL2">Ysaac Andujar, 2019-8851</h2>
    <h4></h4>
    <h2 class="TTL2">Robinson Pérez, 2019-7998</h2>
    <h4></h4>
</div>

<style>
    .container {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .TTL
    {
        margin-left: 38%;
        color: purple;
    }
    .TTL2
    {
        margin-left: 27%;
    }
    .TTL3
    {
        margin-left: 41%;
        color: darkred;
    }
</style>

@code {

}